

.lateral {
    height: 100%;
    width: 200px !important;
    background-color: white;
    border-right: 1px solid black;
}
.margen{
    margin-left: 200px;
}
.menu{
    top: 45%;
}
.form-control {
    width: 70%;
}
.boton-buscar{
    width: 20%;
}
.boton-redondo {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.imagen-redonda{
    width: 125px;
    height: 125px;
    border-radius:50%;
}

.sin-estilo {
    text-decoration: none;
}

.imagen {
    padding-top: 5%;
    padding-left: 5%;
    width: 50%;
}
.negro {
    height: 200px;
    padding-left: 13px;
    padding-right: 13px;
}
.h2 {
    margin: 0;
}