html,body{
    margin:0px;
    background-color: #F0F0F7;
    height:100%;
    }
.lateral {
    height: 100%;
    width: 200px;
    background-color: white;
    border-right: 1px solid black;
}
.margen{
    margin-left: 200px;    
}
.menu{
    top: 35%;
}
.form-control {
    width: 70%;
}
.boton-buscar{
    width: 20%;
}
.boton-redondo {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.borde {

}
.imagen {
    padding-top: 5%;
    width: 50%;
}

.negro {
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
}
h2.h2 {
    margin: 0;
}